# Byte-code files
*.pyc
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.manifest
*.spec

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Editors and IDEs
.idea/  # IntelliJ, PyCharm
.vscode/ # VS Code
*.swp # Vim
*.swo # Vim

# Misc
.cache/
.pytest_cache/
.mypy_cache/
.tox/
.coverage
coverage/
*.log
Pipfile.lock # if you don't want to track it (generally recommended to include it)
poetry.lock # if you don't want to track it (generally recommended to include it)
.env # environment variables

## Don't check the Temperature logs into git
temperature_log/